/* section main, text styling */

*, :after, :before {
    box-sizing: border-box;
}
html,body{
background-color:#fff;
background:transparent;
box-shadow:2px 20px 15px linear-gradient(rgba(0,0,0,0.05) 10%,whitesmoke 30%,rgba(0,0,0,0.1) 50%,lightblue 72%,rgba(0,0,0,0.22) 100%);
}

html,body,div,p,textarea,input[type=text],*,a,a.link,button,h1,h2,header{
font-family: Roboto,Arial,Helvetica,sans-serif;

color: #414141;
font-weight: 400;
font-style: normal;
line-height: 130%;
cursor: auto;
text-align: left;
overflow-wrap: break-word;
word-wrap: break-word;

background-image:transparent;
background-color:transparent;
  -ms-background-color:transparent;
  -webkit-background-color:transparent;
  -moz-background-color:transparent;
  -blink-background-color:transparent;
  -o-background-color:transparent;

-webkit-over-scrolling:touch;
text-decoration:none;
text-rendering: optimizeLegibility;
-webkit-font-smoothing:antialiased;
-moz-font-smoothing:antialiased;

text-shadow: 4px 4px 9px #000;
text-shadow: 0 0.032em 0 #b0b0b0, 0px 0.15em 0.11em rgba(0,0,0,0.15), 0px 0.25em 0.021em rgba(0,0,0,0.1), 0px 0.32em 0.32em rgba(0,0,0,0.1);}
  }
  
  /* section */
  
  a {
    color: #15c;
    font-weight: 300;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  a#twitter {
    color: black;
    display: inline-block;
    text-decoration: none;
  }

  a#twitter div {
    display: inline-block;
    font-weight: 500;
    position: relative;
    
  }

  a#twitter div:hover {
    color: #1da1f2;
  }

  div#links a {
    display: block;
    line-height: 1.3em;
    margin: 0 0 1.5em 0;
  }

  @media (min-width: 1000px) {
    /* hack! to target non-touch devices */
    div#links a {
      line-height: 0.8em;
    }
  }

  body {
    font-family: sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 1em;
    word-break: break-word;
    min-width:280px;
  }

  div#container {
    margin: 0 auto 0 auto;
    max-width: 40em;
    padding: 1em 1.5em 1.3em 1.5em;
  }

  div#highlight {
    background-color: rgba(240,248,255,.3);
    font-size: .5em;
    margin: 0 0 2px 0;
    padding: 0.2em .2em;
    line-height:1;
  }

  div#links {
    padding: 0.5em 0 0 0;
  }


  p {
    color: #1b1b1b;
    opacity:0.9;
    font-weight: 300;
    line-height: 1.6em;
  }

  p.borderBelow {
    border-bottom: 1px solid #eee;
    padding: 0 0 20px 0;
  }

  a#twitter svg {
    height: 72px;
    width: 72px;
    }
   a#twitter svg:hover { cursor:pointer; }
  

/* section responsive */


  h1 {
    font-weight: 900;
    font-size:200%;
    margin: 0 0 0.8em 0;
    padding: 0 0 0.2em 0;
  }
  @media (max-width: 650px) {
    h1 {
      font-size: 24px;
    }
  }

  @media (max-width: 550px) {
    h1 {
      font-size: 20px;
    }
  }

  @media (max-width: 450px) {
    h1 {
      font-size: 16px;
    }
  }


/* section header */

header {
/*
background: linear-gradient(to bottom, rgba(255.255.255.13) 0px, rgba(255.255.255.013) 100%),linear-gradient(to bottom, rgba(255.255.255.13) 0px, rgba(255.255.255.013) 100%);
opacity:0.90;
*/
background: rgba(240,248,255,0.1);
opacity:0.80;
   text-decoration: none;color: #eee; 
  -moz-box-shadow: 0 2px 8px -3px rgba(0,0,0,.5), 0 1.4em 2em -0.7em rgba(255, 255, 255, .2) inset;
  -webkit-box-shadow: 0 2px 8px -3px rgba(0,0,0,.5), 0 1.4em 2em -0.7em rgba(255, 255, 255, .2) inset;
  box-shadow: 0 2px 8px -3px rgba(0,0,0,.5), 0 1.4em 2em -0.7em rgba(255, 255, 255, .2) inset;
  text-shadow: 1px 1px 1px #444;
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.1); 
  padding: .3em;
  transition: background 2s; 
  text-align:center;

}

header h1, header h2 {
  display: inline-block;
  padding: 18px 15px 5px;
  font-size: 250%;
  line-height: .3em;
  margin: 0px 0px 16px;
  color: #eee;  
}


header{
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
    /* margin-bottom: 60px; */
    float: left;
}

/* section content */


p{
  font-size:1.27em;
line-height:1.3em;
font-weight:light;
  border:none;
background: linear-gradient(to bottom, rgba(255.255.255.13) 0px, rgba(255.255.255.013) 100%),linear-gradient(to bottom, rgba(255.255.255.13) 0px, rgba(255.255.255.013) 100%);
opacity:0.90;
  }


#log {
background-image: none;
color: #00FF00;
text-shadow: none;
box-shadow: none;
text-decoration: none;
  }


input[type=text], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
padding: 1em;
font-size:1.3em;
line-height:1.4em;
font-weight:light;
color:#2f2f2f;
border:none;
background: linear-gradient(to bottom, rgba(255.255.255.13) 0px, rgba(255.255.255.013) 100%),linear-gradient(to bottom, rgba(255.255.255.13) 0px, rgba(255.255.255.013) 100%);
opacity:0.90;
 background-image: none;
 background-color:#FFF;

}
 
input[type=text]:focus, textarea:focus {
  /*box-shadow: 0 0 5px rgba(81, 203, 238, 1);*/
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
padding:.5em;
font-size:1.3em;
line-height:1.45em;
font-weight:light;
color:#2f2f2f;
background:transparent;
background-color:#FFF;
border: 0 none #FFF; 
outline:none;
opacity:0.96;
}

  #content {box-sizing: border-box; display:block; width: 100%; position:relative; }
  textarea {box-sizing: border-box; display: block; width: 100%; height: 95vh; margin=0px 0px 16px; }



/* section button */


.button:focus, .text-button:hover, .button:hover, button:focus, button:hover {
   background-color: #a01e02; color: #fff; top:4px;
  } 
   button:visited,.button:visited {
   color: #fff;
  }
  .button, .text-button, #saveTxtButton, #saveHTMLButton,.button--alt, .button--black, .button--form, .button--gray, button {
     text-transform: uppercase; letter-spacing: .125rem; white-space: nowrap;
  }
  .button, .text-button, #saveTxtButton, #saveHTMLButton,button {
    border-style: solid; border-width: 0; cursor: pointer;
    font-family: National,Candara,Calibri,Segoe,Arial,sans-serif; font-weight: 400; line-height: normal; margin: 0 0 1.25rem; position: relative;
    text-decoration: none; text-align: center; -webkit-appearance: none; -webkit-border-radius: 0; display: inline-block; padding-top: .875rem; padding-right: 1.75rem; 
    padding-bottom: .9375rem; padding-left: 1.75rem; font-size: .9125rem; background-color: #c82502; border-color: #a01e02; color: #fff; 
    transition: background-color 300ms ease-out;
  }
  a:hover { cursor:pointer; }
